.room {
    border: 1px solid;
    padding: 30px;
    flex: 1 1 40%;
    &.active {
        background: #00BB00;
        color: white;
    }
    &:hover{
        cursor: pointer;
        background: #00BB00;
        color: white;
    }
}

.room-wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-top: 40px;
}

.navigation {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    a {
        color:blue;
        &:hover {
            color: #0000AA;
        }
    }
}
