<div>
    <h3 class="formHeader">Add New SwitchBoard Form</h3>
    <form class="addSwitchBoardForm">
        <table class="formTable">
            <tr>
                <th>SwitchBoard Name*: </th>
                <td><input type="text" ng-model="$ctrl.SBName"/></td>
            </tr>
            <tr>
                <th>IP Address:</th>
                <td><input type="text" ng-model="$ctrl.IPAdd"/></td>
            </tr>
        </table>
       
    </form>
    <input type="button" value="Add SwitchBoard" class="addBtn" ng-click="$ctrl.handleAddBtnClick()"/>
</div>